@import url('../../variables/Variables.module.scss');

.header {
  top: 0;
  background: var(--color-purple);
}

.container {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat-Bold';
  color: var(--color-darkpurple);
  text-transform: uppercase;
  font-size: 18px;

  .logo {
    width: 200px;
    text-align: start;
  }

  .title {
    width: 200px;
    text-align: end;
  }
}

.search {
  display: flex;
  align-items: center;
  width: 30%;

  p {
    font-family: 'Montserrat-Bold';
    color: var(--color-darkpurple);
    font-size: 18px;
  }

  input {
    width: 100%;
    outline: none;
    font-family: 'Montserrat-Bold';
    color: var(--color-darkpurple);
    font-size: 16px;
    border: 1px solid var(--color-darkpurple);
    border-radius: 10px;
    padding: 5px 15px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .logo {
      width: auto;
      font-size: 22px;
    }
  }

  .title {
    display: none;
  }

  .search {
    width: 70%;
  }
}
