@import url('../../variables/Variables.module.scss');

.home {
  min-height: 100vh;
  background: var(--color-darkpurple);
}

.container {
  padding: 40px 0;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 15px;
  margin: 0 auto;
  background: var(--color-orange);
  border-radius: 10px;
  padding: 20px;

  input {
    outline: none;
    font-family: 'Montserrat-Regular';
    color: var(--color-darkpurple);
    font-size: 16px;
    border: 1px solid var(--color-darkpurple);
    border-radius: 10px;
    padding: 5px 15px;
  }

  p {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
  }

  button {
    display: flex;
    justify-content: center;
    outline: none;
    border-radius: 10px;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-purple);
    border: 1px solid var(--color-darkpurple);
    padding: 5px 20px;
    transition: 1s;
  }

  button:hover {
    filter: brightness(120%);
  }
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 0;
}
